@model INO_CRM_API.Models.UserModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{string role = httpContextAccessor.HttpContext.Session.GetString("role");}
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUser" asp-route-id="@Model.UserId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfBirth" class="control-label"></label>
                <input type="date" asp-for="dateOfBirth" class="form-control" />
                <span asp-validation-for="dateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @if (role == "Admin")
            {
        <div class="form-group">
            <label asp-for="Role.Name" class="control-label">Role</label>            
            <label><input asp-for="Role.Name" value="Admin" type="radio" />Admin</label>
            <label><input asp-for="Role.Name" value="Moderator" type="radio" />Moderator</label>
            <label><input asp-for="Role.Name" value="User" type="radio" />User</label>
            <span asp-validation-for="Role.Name" class="text-danger"></span>
        </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Page" asp-route-id="1">Back to List</a>
</div>

